<a href="https://colab.research.google.com/github/EricAshby/EDA-Student-Survey-Data/blob/main/TEDA1030_Mod2_project_EricAshby_08_08_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis on Student Survey Data
Name: Eric Ashby

This file is an incomplete analysis of data analytics student survey data.

## Background
As part of the Introduction to Data Analytics pre-admissions course, students complete a survey that asks them questions about their age, height, prior data analytics experience, and other things. This analysis seeks to explore various aspects of these surveys to learn more about students who enroll in the Data Analytics program at Bridgerland Technical College.

## About the data
The data comes from surveys taken by students of the Data Analytics program during the pre-admissions course Introduction to Data Analytics.

In [ ]:
# Import the pandas library
import pandas as pd

# Import the data set as the variable `df`
df = pd.read_csv('data_analytics_students.csv')

In [ ]:
# Get first five rows
df.head()

,Age,Height,Prior Data Experience,Favorite Season,Book or movie?,Favorite Hobby,Fictional Character
0,28,64,Yes,Fall,Book,Reading,Eevee
1,30,71,Yes,Fall,Book,coding,Olaf
2,53,68,No,Fall,Book,Reading,The Abbot of Redwall Abbey
3,46,66,Yes,Spring,Book,Crafts,Myne from Ascendance of a Bookworm
4,29,70,No,Fall,Movie,Photography,Josephine March

In [ ]:
# Get basic dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    89 non-null     int64
 1   Height                 89 non-null     object
 2   Prior Data Experience  89 non-null     object
 3   Favorite Season        89 non-null     object
 4   Book or movie?         89 non-null     object
 5   Favorite Hobby         89 non-null     object
 6   Fictional Character    89 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.0+ KB

As seen in the descriptive statistics below, the average age of students in the Data Analytics program is 31.8, while the median age is 28. The minimum age is 14, probably indicating that the student was still in high school, and the maximum age of enrollment was 78. This means that there is a wide range of ages for students in the data analytics program.

In [ ]:
# Get descriptive statistics
df.describe()

             Age
count  89.000000
mean   31.820225
std    12.584769
min    14.000000
25%    23.000000
50%    28.000000
75%    39.000000
max    78.000000

In [ ]:
# Get rows and columns
df.shape

(89, 7)

In [ ]:
# Get the age of row 80
# not to be confused with the 80th row, I assume
df.loc[80, "Age"]

57

In [ ]:
# Get the favorite hobby of row 24
df.loc[24, "Favorite Hobby"]

'Songwriting'

In [ ]:
# Get the fictional character of row 42
df.loc[42, 'Fictional Character']

'Batman'

Students in the Data Analytics program have many different hobbies. The most common hobby, however, is reading, and the second most common hobby is skiing.

In [ ]:
# See the most common hobbies among data analytics students
df["Favorite Hobby"].value_counts()

Reading                   9
Skiing                    4
reading                   3
Guitar                    2
Volleyball                2
                         ..
Cars                      1
watch movies FBI files    1
Golf                      1
coding                    1
Shopping                  1
Name: Favorite Hobby, Length: 73, dtype: int64

In terms of fictional characters, the most common fictional character among Data Analytics students is Iron Man. However, there are other characters listed multiple times as well, such as Sherlock Holmes, Hermione Granger, and Harry Potter.

In [ ]:
# See the most common fictional character among data analytics students
df['Fictional Character'].value_counts()

Iron Man                             4
Sherlock Holmes                      2
Hermione Granger                     2
Harry Potter                         2
Spider Man                           2
                                    ..
Samuel Hamilton from East of Eden    1
Moana                                1
Gandalf                              1
Morty                                1
Anna                                 1
Name: Fictional Character, Length: 80, dtype: int64

The favorite season for students in the Data Analytics program is overwhelmingly fall. There were 38 students who marked fall as their favorite season, and only 14 students marked that winter was their favorite season.

In [ ]:
# Which season do students like most?
df["Favorite Season"].value_counts()

Fall      38
Summer    19
Spring    18
Winter    14
Name: Favorite Season, dtype: int64

Interestingly, there were about 29% of students enrolled in the Data Analytics program who had prior experience with data. That means that about 71% of student did not have prior experience before enrolling.

In [ ]:
# What percent of students have prior experience in data?
df['Prior Data Experience'].value_counts(normalize = True)

No     0.707865
Yes    0.292135
Name: Prior Data Experience, dtype: float64

Some of the values in the Height column aren't numbers, but instead contain some text. In this step, I will go through the data set using pandas and change all of the entries to be only numbers.

There are several ways that you could approach this. For example, you could use .loc to print out a group of rows at a time (ie. 10 or 15 at once) and see which ones need fixing. You could also print out all of the rows at once to see which ones need to be fixed. Then, use the .loc property to manually change each of them.  I chose to print each row to find the data in need of cleaning, then removed unnecessary characters using a for loop and the string replace function.

Note that entry 51 has a height of 5. This is clearly an error, presumably entered as feet rather than inches, and will need to be fixed in future analyses but will remain unchanged for the purposes of this analysis.

In [ ]:
#### Clean the height data
##Checking Height Data
#Getting around Google Colab's row limit
[numRows,numCols] = df.shape
for i in range(numRows):
  print(i , " " , df.loc[i,'Height'])
#See cleaning in next code cell

0   64
1   71
2   68
3   66
4   70
5   73
6   78
7   70
8   72
9   73
10   74
11   77
12   68
13   72
14   64
15   64
16   64
17   61
18   74
19   65
20   74 Inches
21   66
22   75
23   64
24   70
25   67
26   76
27   62
28   62
29   66
30   68
31   69 inches
32   66
33   68
34   61
35   68
36   72
37   57
38   61
39   72
40   68
41   69.1
42   72
43   65
44   62
45   68
46   71
47   64
48   64
49   65
50   63
51   5
52   61
53   71
54   72 in
55   70 inches
56   68
57   67
58   64 inches
59   69
60   73
61   70
62   70
63   65
64   66
65   64 inches
66   68 in
67   67
68   70
69   70
70   69"
71   60
72   65
73   70
74   66
75   70
76   74
77   70
78   69
79   73
80   65
81   67
82   64 in
83   67
84   70
85   72
86   67
87   68
88   63

In [ ]:
##Cleaning Height Data
#I'd rather not manually change them if I can automate it instead.

#These are my entries to be cleaned
dirtyHeightIndex = [20,31,54,55,58,65,66,70,82]

#Show dirty data before cleaning
print("Before Cleaning:")
print(df.loc[dirtyHeightIndex , "Height"])

#removing unnecessary characters from each instance
for i in dirtyHeightIndex:
  tempString = df.loc[i , "Height"]
  tempString = tempString.replace(" Inches" , "")
  tempString = tempString.replace(" inches" , "")
  tempString = tempString.replace(" in" , "")
  tempString = tempString.replace('\"' , "")
  df.loc[i , "Height"] = tempString

#Show data after cleaning
print("\nAfter Cleaning:")
print(df.loc[dirtyHeightIndex , "Height"])

Before Cleaning:
20    74 Inches
31    69 inches
54        72 in
55    70 inches
58    64 inches
65    64 inches
66        68 in
70          69"
82        64 in
Name: Height, dtype: object

After Cleaning:
20    74
31    69
54    72
55    70
58    64
65    64
66    68
70    69
82    64
Name: Height, dtype: object

Finally, I will sort the data set by Age in descending order. That way, I can see the oldest students at the top of the table and the youngest students at the bottom.

In [ ]:
# Sort the data by Age in descending order
df.sort_values(by = "Age" , ascending = False)

,Age,Height,Prior Data Experience,Favorite Season,Book or movie?,Favorite Hobby,Fictional Character
11,78,77,No,Spring,Movie,Sniffing babies,The emperor in Star Wars
10,60,74,Yes,Fall,Movie,gaming,Sherlock Holmes
12,60,68,No,Fall,Movie,Bowling,Scooby Doo
86,58,67,No,Fall,Book,Bike Riding,Hayduke
52,58,61,Yes,Spring,Book,Reading,Wonder Woman
...,...,...,...,...,...,...,...
41,18,69.1,No,Winter,Movie,watch movies FBI files,Jack Sparrow
26,17,76,No,Summer,Movie,Guitar,The Flash?
57,17,67,Yes,Summer,Book,Coding,Spike
88,17,63,No,Spring,Movie,Shopping,Anna
87,14,68,Yes,Fall,Book,Reading,Sam Temple (Gone)

In [ ]:
# Get the last twenty rows
df.tail(20)

,Age,Height,Prior Data Experience,Favorite Season,Book or movie?,Favorite Hobby,Fictional Character
69,26,70,No,Fall,Movie,Shooting hoops,Iron Man
70,18,69,No,Fall,Movie,Researching stuff,Shaggy from Scooby Doo
71,36,60,Yes,Winter,Movie,Running,Iron Man
72,54,65,No,Spring,Movie,"thrift shopping, estate sales",Christopher Robin
73,32,70,No,Winter,Book,board games,Sam Vimes
74,46,66,Yes,Spring,Book,beading,The Doctor
75,27,70,No,Spring,Movie,Snowboarding,Spider Man
76,18,74,No,Fall,Movie,Playing guitar,Toothless from How to Train Your Dragon
77,22,70,No,Summer,Book,Drawing,Yoshi
78,21,69,Yes,Summer,Movie,Hiking,Probably Garfield
79,27,73,Yes,Summer,Book,Guitar,ODST
80,57,65,No,Fall,Movie,Time with family,Mulan
81,23,67,No,Summer,Book,Spending time outdoors or driving,Fallon Carington
82,18,64,No,Winter,Book,reading,Jesus (just kidding)
83,27,67,No,Fall,Movie,Going to concerts,A Pokémon trainer
84,29,70,No,Fall,Movie,Card games,Halt from the Ranger's Apprentice series
85,40,72,No,Summer,Book,Flying RC Aircraft,Charlie Brown
86,58,67,No,Fall,Book,Bike Riding,Hayduke
87,14,68,Yes,Fall,Book,Reading,Sam Temple (Gone)
88,17,63,No,Spring,Movie,Shopping,Anna

The resulting data set will now be exported as a clean data set below.

In [ ]:
df.to_csv('data_analytics_students_clean.csv')